n8n/workflows/fees-reconciliation.json
{
  "name": "BNI Fees — Post-Meeting Reconciliation",
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 16 1 4,5,6,7,8,9 *" }] }
      }
    },
    {
      "id": "getSummary",
      "name": "Get Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.APP_URL }}/api/fees/admin/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-admin-pin", "value": "={{ $env.ADMIN_PIN }}" }
          ]
        }
      }
    },
    {
      "id": "sendSummary",
      "name": "Send Summary to ST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $env.ST_PHONE }}\",\"type\":\"text\",\"text\":{\"body\":\"BNI Infinity \\u2014 Meeting Day Summary\\n\\nCollected: \\u20b9{{ $json.totalCollected.toLocaleString() }}\\nPending verification: {{ $json.pendingVerification }}\\nCash collected: {{ $json.cashPending }}\\nActive members: {{ $json.totalMembers }}\\n\\nView admin: https://infinity.tetherlo.com/fees/admin\"}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Summary", "type": "main", "index": 0 }]] },
    "Get Summary": { "main": [[{ "node": "Send Summary to ST", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
